
    
    
    <nav class="navbar navbar-expand-lg navbar-secondary bg-white">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" >Collection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Journal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="look" href="#" style="text-decoration: underline;">LookBook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pages</a>
            </li>
          </ul>
         
        <div class="icon md-6" aria-hidden="true">
         <a class="cn">  <i class="fa fa-search"  aria-hidden="true"></i></a>
        
           <a class="cn"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a class="cn"><i class="fa fa-heart" aria-hidden="true"></i></a>
        
            <a class="cn"><i class="fa fa-suitcase" aria-hidden="true"></i></a>
          <a class="cn">  <i class="fa fa-bars" aria-hidden="true"></i></a>
            
           </div> 
      
    
        </div>
      </div>
    </nav>