*{
    font-size:14px;
}.footer{
    
    position: relative;
    bottom:0px;
    left:0;
    right:0;
}
.cmpny a{
    text-decoration: none;

}
/* .cmpny .cr::after{
    position:absolute;
    content:" ";
    background-color: black;
    height: 2px;
    width: 10px;

    
    margin-right: 1000px;
    top:50%;

} */
.shop p a{
    text-decoration: none;
}
.mp .ft{
    
    display: flex;
    padding-left: 100px;
    text-decoration: row;
    position: absolute;
    left:600px;
    bottom:10px;
}
.input-container {
    display: flex;
    width: 400px;
    border: 1px solid #a9a9a9;
    justify-content: space-between;
}
.input-container input:focus, .input-container input:active {
    outline: none;
   

}
.input-container input {
    border: none;
    
    height: 50px;
   
    background-color: white;
}
.input-container button{
    border:none;
    
    background-color: white;

}
button{
    background-color: white;
}
.iconimg img{
    margin-right: 20px;
    font-size: 10px;

}
@media (min-width:0px) and (max-width:480px) {
    .footer{
        display: none;
        visibility: hidden;
    }
}