<div class="container">
<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 10rem;">
      <img src="./assets/pexels.jpg" class="card-img-top" alt="...">
      <i class="fa-solid fa-square-xmark" style="position:absolute; top:0; color:white; font-size:20px;"></i>
      <div class="card-body">
        <h5 class="card-title" style="font-weight: 450;">Dresses</h5>
        <h6 class="card-text" style="font-weight: 350;">Frock</h6>
        <h6 class="card-text" style="font-weight: 350;">2500</h6>
        <i class="fa-regular fa-heart" style="margin-left: 120px;"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 10rem;">
      <img src="./assets/jacob.jpg" class="card-img-top" alt="...">
      <i class="fa-solid fa-square-xmark" style="position:absolute; top:0; color:white; font-size:20px;"></i>
      <div class="card-body">
        <h5 class="card-title" style="font-weight: 450;">Dresses</h5>
        <h6 class="card-title" style="font-weight: 350;">Shirt</h6>
        <h6 class="card-text" style="font-weight: 350;">2500</h6>
        
        <i class="fa-regular fa-heart" style="margin-left: 120px; "></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 10rem;">
      <img src="./assets/elias.jpg" class="card-img-top" alt="...">
      <i class="fa-solid fa-square-xmark" style="position:absolute; top:0; color:white; font-size:20px;"></i>
      <div class="card-body">
        <h5 class="card-title" style="font-weight: 450;">Dresses</h5>
        <h6 class="card-text" style="font-weight: 350;">Skirt</h6>
        <h6 class="card-text" style="font-weight: 350;">2500</h6>
        <i class="fa-regular fa-heart" style="margin-left: 120px;"></i>
      </div>
    </div>
  </div>
</div>
</div>
